pkgbase = usertree-spawner
	pkgdesc = Elogind-specific per-user service-manager launcher and lifecycle supervisor
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/shaitan-machine1/usertree-spawner
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cargo
	options = !debug
	source = usertree-spawner-0.1.0.tar.gz::https://github.com/shaitan-machine1/usertree-spawner/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = usertree-spawner
	depends = elogind
	depends = gcc-libs
	depends = glibc
	depends = pam
	optdepends = usertree-spawner-backend-s6: per-user s6-svscan and s6-rc backend
	backup = etc/usertree-spawner/config.toml
	backup = etc/pam.d/usertree-spawner-manager

pkgname = usertree-spawner-backend-s6
	pkgdesc = s6-svscan and s6-rc backend for usertree-spawner
	depends = usertree-spawner
	depends = s6-user

pkgname = usertree-spawner-s6
	pkgdesc = s6-rc system service definition for usertree-spawner
	groups = s6-world
	depends = elogind
	depends = usertree-spawner
	depends = usertree-spawner-backend-s6
	depends = s6-base
	provides = init-usertree-spawner
	conflicts = init-usertree-spawner
