pkgbase = usertree-spawner
	pkgdesc = Elogind-specific per-user service-manager launcher and lifecycle supervisor
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/shaitan-machine1/usertree-spawner
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cargo
	options = !debug
	source = usertree-spawner-0.2.0.tar.gz::https://github.com/shaitan-machine1/usertree-spawner/releases/download/v0.2.0/usertree-spawner-0.2.0.tar.gz
	sha256sums = e6c685b6b8eef15b8e7f5abdffa4e7ddd238341c64dc1dda2dc0e65a32b68d80

pkgname = usertree-spawner
	install = usertree-spawner.install
	depends = elogind
	depends = gcc-libs
	depends = glibc
	depends = pam
	optdepends = usertree-spawner-backend-s6-user: s6-user per-user service-manager backend
	backup = etc/usertree-spawner/config.toml
	backup = etc/pam.d/usertree-spawner-manager

pkgname = usertree-spawner-backend-s6-user
	pkgdesc = s6-user per-user service-manager backend for usertree-spawner
	arch = any
	depends = usertree-spawner
	depends = s6
	depends = s6-user
	conflicts = usertree-spawner-backend-s6
	replaces = usertree-spawner-backend-s6

pkgname = usertree-spawner-s6
	pkgdesc = s6-rc system service definition for usertree-spawner
	arch = any
	groups = s6-world
	depends = usertree-spawner
	depends = s6-base
	provides = init-usertree-spawner
	conflicts = init-usertree-spawner
